.title{
    text-align: center;
    color: #009;
    border:solid 1px;
    max-width:100vw;
   
  }
  .red{
    text-align: center;
    color: rgb(245, 12, 12);
    border:solid 1px;
    max-width:100vw;
   
  }